*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: azure;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    @media (min-width: 1px)
    max-width: none;
}
    

h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    
}
.title {
    text-align: center;
    margin-bottom: 1rem;

}
.main {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem;
    
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.form-box{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.caja{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.text-input{
    text-transform: lowercase;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.msg-box{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2{
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}
#msg{
    text-transform: lowercase;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.footer{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.2;
}
@media screen and (max-width: 1024px){
    .main{
        width: 100%;
    }
    .form-box{
        width: 100%;
    }
    .caja{
        width: 100%;
    }
    .msg-box{
        width: 100%;
    }
}
@media screen and (max-width: 900px){
    .main{
        width: 100%;
    }
    .form-box{
        width: 100%;
    }
    .caja{
        width: 100%;
    }
    .msg-box{
        width: 100%;
    }
}
@media screen and (max-width: 800px){
    .main{
        width: 100%;
    }
    .form-box{
        width: 100%;
    }
    .caja{
        width: 100%;
    }
    .msg-box{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .main{
        width: 100%;
    }
    .form-box{
        width: 100%;
    }
    .caja{
        width: 100%;
    }
    .msg-box{
        width: 100%;
    }
}
 
@media screen and (max-width: 480px){
    .main{
        width: 100%;
    }
    .form-box{
        width: 100%;
    }
    .caja{
        width: 100%;
    }
    .msg-box{
        width: 100%;
    }
}
@media screen and (max-width: 320px){
    .main{
        width: 100%;
    }
    .form-box{
        width: 100%;
    }
    .caja{
        width: 100%;
    }
    .msg-box{
        width: 100%;
    }
}
@media screen and (max-width: 280px){
    .main{
        width: 100%;
    }
    .form-box{
        width: 100%;
    }
    .caja{
        width: 100%;
    }
    .msg-box{
        width: 100%;
    }
}
@media screen and (max-width: 240px){
    .main{
        width: 100%;
    }
    .form-box{
        width: 100%;
    }
    .caja{
        width: 100%;
    }
    .msg-box{
        width: 100%;
    }
}
@media screen and (max-width: 200px){
    .main{
        width: 100%;
    }
    .form-box{
        width: 100%;
    }
    .caja{
        width: 100%;
    }
    .msg-box{
        width: 100%;
    }
}
@media screen and (max-width: 160px){
    .main{
        width: 100%;
    }
    .form-box{
        width: 100%;
    }
    .caja{
        width: 100%;
    }
    .msg-box{
        width: 100%;
    }
}
@media screen and (max-width: 120px){
    .main{
        width: 100%;
    }
    .form-box{
        width: 100%;
    }
    .caja{
        width: 100%;
    }
    .msg-box{
        width: 100%;
    }
}
@media screen and (max-width: 80px){
    .main{
        width: 100%;
    }
    .form-box{
        width: 100%;
    }
    .caja{
        width: 100%;
    }
    .msg-box{
        width: 100%;
    }
}
    


    


